<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" 
     integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="assets/css/style.css">
     <a href="/index.html"></a>
    <title>Témoignages</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Développeur Web et Web Mobile</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/index.html">Accueil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/views/formation.html">La formation</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/views/temoignage.html">Témoignages</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/views/reference.html">Nos références</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/views/contact.html">Nous contacter</a>
              </li>
            </ul>
            <span class="navbar-text">
            </span>
          </div>
        </div>
      </nav>
    <iframe width="647" height="364" src="https://www.youtube.com/embed/--hnzO3tMQo" title="Le métier Développeur web : le témoignage de Nicolas" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    <iframe width="647" height="364" src="https://www.youtube.com/embed/2gSPsB_dltM" title="Témoignage sur la formation et le métier de développeur web" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    <iframe width="647" height="364" src="https://www.youtube.com/embed/6ALDzbxuk3g" title="Mon métier c&#39;est: Web developpeur" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
        <div class="container p-4">
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Linkedin -->
            <i class="bi bi-twitter"></i>
            <i class="bi bi-youtube"></i>
            <i class="bi bi-discord"></i>
            <i class="bi bi-facebook"></i>
          </section>
          
      
          <!-- Section: Form -->
          <section class="">
            <form action="">
              <!--Grid row-->
              <div class="row d-flex justify-content-center">
                <!--Grid column-->
                <div class="col-auto">
                  <p class="pt-2">
                    <strong>Inscrivez-vous à notre newsletter</strong>
                  </p>
                </div>
                <!--Grid column-->
      
                <!--Grid column-->
                <div class="col-md-5 col-12">
                  <!-- Email input -->
                  <div class="form-outline form-white mb-4">
                    <input type="email" id="form5Example21" class="form-control" />
                    <label class="form-label" for="form5Example21">Adresse Email</label>
                  </div>
                </div>
                <!--Grid column-->
      
                <!--Grid column-->
                <div class="col-auto">
                  <!-- Submit button -->
                  <button type="submit" class="btn btn-outline-light mb-4">
                    Souscrire
                  </button>
                </div>
                <!--Grid column-->
              </div>
              <!--Grid row-->
            </form>
          </section>
          <!-- Section: Form -->
      
          <!-- Section: Text -->
          <section class="mb-4">
            <p>
                La plupart des formations qualifiantes de l'Afpa sont financées dans le cadre
                 de la programmation de formation de votre Conseil régional.
            </p>
          </section>
          
        </div>
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2023 Copyright:
          <a class="text-white" href="#">Afpa.fr</a>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10362.406414102194!2d0.16461076982490855!3d49.51091704284579!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e0301e3dd44309%3A0xde24caa0725e8936!2sCaucriauville%2C%20Le%20Havre!5e0!3m2!1sfr!2sfr!4v1682405557999!5m2!1sfr!2sfr" width="400" height="300" style="border:0 center;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <!-- Copyright -->
      </footer>
</body>
</html>