body {
    background-color: lightgray;
}
h1 {
    font-size: 24px;
    text-align: center;
}


img {
    width: 60%;
    height: 50vh;
   
}

p {
    background-color: #fff;
    width: 350px;
    margin-top: 80px;
    padding: 30px;
}

span {
    font-size: 20px;
    color: #CF074B;
}

section {
    display: flex;
}

.card {
    margin-top: 80px;
}

.card-body {
    background-color: #87BB33;
    color: white;
    height: 550px;
}


.btn {
    background-color: #CF074B;
}
